
h1{
color:green;
}
.nav_right
{
  float:right;
}
ul{
	list-style:none;
	background:black;
	padding:15px;
}
li {
	
display:inline;
}
ul li a{
	color:white;
	padding:8px;
	
}
ul li a:hover{
	color:white;
	text-decoration:none;
}
.login-form
{
	border:1px solid lightgray;
	padding:5px;
}
.btn_login{
	width:100%; 
	background:black; 
	color:white;
	border:none;
	border-radius:20px;
	padding:4px;
}
.user_table{
	padding:10px;
	border:1px solid gray;
}
.badge-complete a{
	background:green;
	color:white;
	padding:4px;
	border-radius:10px;
}
.badge-pending {
	background:green;
	color:white;
	padding:4px;
	border-radius:10px;
}